/* --- CHARTE --- */

    /* Fond gris: #F2F2F2
       Bleu: #0065FC
       Bleu clair: #DEEBFF */

/* --- LAYOUT --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: rgb(45, 45, 45);
}

#main_wrapper { margin: 0 5%; }

h1 { 
    font-size: 21px;
    padding-bottom: 10px;
}

/* --- HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

#header--logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

/* Nav */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li { list-style-type: none; }

nav a {
    color: rgb(65, 65, 65);
    border-top: 2px solid transparent;
    padding: 55px 30px 45px 30px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#bouton_inscription a {
    font-weight: bolder;
    color: #0065FC;
}

#bouton_inscription a:hover {
    font-weight: bolder;
    color: #0049b8;
}

/* --- SECTION RECHERCHE --- */

/* Searchbar */

#searchbar {
    margin: 20px 0px;
    height: 52px;
    display: inline-block;
    position: relative;
    align-items: baseline;
}

#searchbar 
input,
button {
    height: 100%;
    font-size: 16px;
    font-weight: bolder;
    border: none;
}

#searchbar input {
    margin-left: 52px;
    padding: 10px 45px 10px 15px;
    border: 1px solid #F2F2F2;
}

#searchbar input:focus {
    margin-left: 52px;
    padding: 10px 45px 10px 15px;
    border: 1px solid #0065FC;
}

::placeholder {
    color: rgb(45, 45, 45);
    opacity: 1;
}

#searchbar button {
    color: #fff;
    background-color: #0065FC;
    padding: 10px 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
}

#searchbar i {
    padding: 18px 20px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
}


/* Filtres */