            /* --- CHARTE --- */

    /* Fond gris: #F2F2F2
       Bleu: #0065FC
       Bleu clair: #DEEBFF */


            /* --- LAYOUT --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: rgb(45, 45, 45);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: auto;
}

#main_wrapper { margin: 0 3.5%; }

h1 { 
    font-size: 22px;
    padding: 10px 0px;
}

h2 {
    display: inline-flex;
    font-size: 22px;
    padding: 25px 0px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0px;
}

a { text-decoration: none; }


            /* --- HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

    #header--logo {
        display: inline-flex;
        padding-top: 15px;
    }

/* Nav */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav li { list-style-type: none; }

        nav a {
            color: rgb(65, 65, 65);
            border-top: 2px solid transparent;
            padding: 50px 34px 40px;
            text-decoration: none;
            display: inline-block;
        }

        #bouton_inscription a,
        #bouton_inscription--mobile {
            font-weight: bolder;
            color: #0065FC;
        }

        #bouton_inscription--mobile { visibility: hidden; }


        /* Nav hover */

        nav a:hover {
            color: #0065FC;
            border-top: 2px solid #0065FC;
            transition: 0.4s ease-in;
        }


        #bouton_inscription a:hover {
            font-weight: bolder;
            color: #0049b8;
            border-top: 1px solid transparent;
        }


            /* --- SECTION RECHERCHE --- */

/* Searchbar */

#searchbar {
    margin: 20px 0px;
    height: 50px;
    display: flex;
    align-items: center;
}

    #searchbar 
    input,
    button {
        height: 100%;
        font-size: 1.1em;
        font-weight: 600;
        border: none;
    }

    #searchbar input {
        width: 240px;
        font-weight: 700;
        font-size: 1.1em;
        padding: 10px 15px;
        border: 1px solid #F2F2F2;
    }

    ::placeholder {
        color: rgb(45, 45, 45);
        opacity: 1;
    }

    #searchbar #search--desktop {
        color: #fff;
        background-color: #0065FC;
        padding: 10px 18px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #search--mobile { visibility: hidden; }

    #searchbar i {
        padding: 17px 20px;
        background-color: #F2F2F2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

/* Searchbar hover */

#searchbar #search--desktop:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    transition: 0.3s ease-in;
}

/* Filtres */

#filtre--container {
    padding-top: 10px;
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    #filtre--titre {
        display: inline;
        font-size: 17px;
        font-weight: 700;
        margin-left: 10px;
    }

    .filtre p {
        padding: 13px 20px 12px 0px;
        margin-left: 20px;
        font-size: 17px;
        font-weight: 700;
        border: 2px solid #e2e2e2;
        border-radius: 25px;
        border-left-style: none;
        border-left-color: #fff;
    }

    .filtre i {
        padding: 16px;
        margin-right: 13px;
        display: inline;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 50%;
    }

    /* Filtres hover*/

    .filtre:hover p{
        color: #0065FC;
        background-color: #DEEBFF;
        transform: scale(1.05);
        border-color: #fff;
        transition: 0.2s ease-in;
        cursor: pointer;
    }

    .filtre:hover i{
        background-color: #fff;
        color: #025adf;
        transition: 0.2s ease-in;
        cursor: pointer;
    }


/* Icônes à la largeur différente des autres, modification des paddings en conséquence pour ne pas avoir à les retrécir */
#icone_deformee { padding: 16px 15px; }

#icone_deformee--2 { padding: 13px 17px; }

/* Résultat de recherche */

#search_result {
    margin: 35px 10px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    #search_result i {
        margin-right: 10px;
        padding: 6px 10px;
        color: #0065FC;
        border: 1px solid #e2e2e2;
        border-radius: 50%;
    }

/* Afficher les sections "Hébergements" et "Populaires" côte à côte*/
#hebergement_populaires--container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}


            /* --- SECTION "HÉBERGEMENTS" --- */

#section--hebergements {
    padding: 20px 40px;
    width: fit-content;
    height: fit-content;
    max-width: 886px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

/* Cartes */

.carte--container {
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

/* Border transparente pour empêcher le mouvement lors d'un hover */
.carte {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 2px 7px rgba(128, 128, 128, 0.301);
}

    .carte img {
        height: 125px;
        width: 245px;
        object-fit: cover;
        padding: 4px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

/* Carte hover */

.carte:hover {
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.363);
    transition: 0.3s ease-in;
}

    .carte:hover img {
        padding: 0px 0px 5px 0px;
        opacity: 0.8;
        transition: 0.2s ease-in-out;
    }

    .carte:hover h3 {
        color: #0065FC;
        font-size: 1.1em;
        transition: 0.2s ease-in;
    }

/* Légende */

.carte--legende_photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67px;
    padding: 0px 15px 10px;
}

.carte--legende_para { font-size: 0.9em; }

/* Notes */

.carte--notes { display: flex; }

.fas { padding: 4px 1px 0px 0px; }

.full { color: #0065FC; }

.empty { color: #cccccc; }

/* "Afficher plus" - Empêcher l'élèment de faire bouger son parent lors de hover*/

#afficher_plus {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 76px;
    font-size: 1.1em;
    font-weight: 700;
}

#afficher_plus p {
    padding-top: 25px;
}

/* "Afficher plus" hover */
#afficher_plus:hover p {
    color: #0065FC;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.2s ease-in;
}


            /* --- SECTION "POPULAIRES" --- */

#section--populaires {
    margin-left: 30px;
    padding: 20px 35px 30px;
    width: fit-content;
    min-width: 410px;
    height: fit-content;
    border-radius: 20px;
    background-color: #F2F2F2;
}

    #section--populaires_titre {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

/* Cartes section "Populaire" */

.carte--container_populaires { 
    width: fit-content;
    height: 491px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .carte_populaires { 
        display: flex; 
        max-width: 345px;
    }

        /* Transformer toute la carte en élèment cliquable */
        .carte_populaires a {
            display: inline-flex;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
    }

        .carte_populaires img {
            width: 140px;
            height: 140px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
        }

        .carte--legende_photo_populaires {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 15px 10px 0px 15px;
            height: 100%;
        }

        .carte--legende_photo_populaires h3 { padding-bottom: 5px; }

        .notes_populaires { padding-top: 35px; }

/* Cartes section "Populaires" hover */

.carte_populaires:hover img{ padding-bottom: 0; }

.carte_populaires:hover .notes_populaires{
    position: absolute;
    padding-top: 95px;
}

/* Image au comportement différent des autres cartes; modifications en conséquence*/

#image_deformee { width: 153px; }

.carte_populaires:hover #image_deformee {
    width: 160px;
    padding: 0px;
}

            /* --- SECTION "ACTIVITÉS" --- */

#section--activités {
    margin: 30px 0px 60px;
    width: 100%;
}

#titre--activités {
    padding-top: 25px;
}

figure {
    max-height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px rgba(128, 128, 128, 0.164);
}

figure img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

figcaption {
    font-weight: 700;
    font-size: 1em;
    padding: 15px 20px;
}

/* "Activités" grid area */
#activités--container {
    display: grid;
    height: 450px;
    grid: 195px 40px 40px 170px / repeat(4, 1fr);
    column-gap: 40px;
    overflow: hidden;
}

/* Spécification individuelles img height car la figcaption sors de son figure */
    #activités--1 {
        grid-area: 1 / 1 / 5 / 1;
    }

        #activités--1 img {
            height: 87%;
        }

    #activités--2 {
        grid-area: 1 / 2 / 3 / 2;
    }

        #activités--2 img {
            height: 76%;
        }

    #activités--3 {
        grid-area: 4 / 2 / 5 / 2;
    }

        #activités--3 img {
            height: 65%;
        }

    #activités--4 {
        grid-area: 1 / 3 / 5 / 3;
    }

        #activités--4 img {
            height: 87%;
        }

    #activités--5 {
        grid-area: 1 / 4 / 2 / 4;
    }

        #activités--5 img {
            height: 70%;
        }

    #activités--6 {
        grid-area: 3 / 4 / 5 / 4;
    }

        #activités--6 img {
            height: 72%;
        }

/*  Carte "Activités" Hover  */
.activités--carte:hover {
    opacity: 0.9;
    box-shadow: 2px 3px 7px rgba(128, 128, 128, 0.425);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.activités--carte:hover figcaption {
    color: #0065FC;
    transition: 0.2s ease-in;
}

.activités--carte:hover img {
    padding: 2px;
    transition: 0.2s ease-in;
}


            /* --- FOOTER --- */

footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    height: fit-content;
    background-color: #F2F2F2;
}

.footer--box {
    padding: 45px;
    margin-right: 145px;
}

.footer--title {
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer--box li {
    list-style-type: none;
    line-height: 190%;
}

/* Alignement du second élèment de 'footer' */

#footer--box_hebergements {
    margin-right: 65px;
}


        /* --- MEDIA QUERIES --- */


@media screen and (min-width: 1661px) {
    #main_wrapper {
        margin: 0 6.5%;
    }

    #section--activités {
        margin: auto;
        width: 85%;
        padding: 30px 0px 60px;
    }

    footer {
        padding: 0 50px;
        margin: auto;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 1461px) {
    #hebergement_populaires--container, 
    .carte--container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1261px) {
    figcaption {
        font-weight: 600;
        font-size: 0.9em;
    }

    .footer--box {
        justify-content: space-between;
        margin-right: 50px;
    }
}

@media screen and (max-width: 900px) {

    #main_wrapper {
        margin: 0;
        min-width: 360px;
    }

    /* Header */
    header {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #header--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 10px;
        width: 100%;
        max-width: 100%;
    }

    #bouton_inscription { display: none; }

    #bouton_inscription--mobile { visibility: visible; }

    #bouton_inscription--mobile:hover {
        font-weight: bolder;
        color: #0049b8;
    }

    /* Nav */
    nav {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    nav li {
        width: 50%;
        text-align: center;
    }

    nav li a {
        display: block;
        padding: 15px 0;
        border-bottom: 3px solid #e2e2e277;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
    /* Recherche titre */
    #recherche--partie_titre { padding: 20px 17px; }

    /* Searchbar */
    #search--desktop { display: none; }

    #searchbar {
        margin: 15px 0px;
        justify-content: center;
    }

    #searchbar input {
        border-right: none;
        margin-right: -13px;
    }

    #search--mobile {
        padding: 0px;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

    #search--mobile i {
        padding: 17px 17px 16px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        visibility: visible;
        color: #fff;
        background-color: #0065FC;
    }

    /* Filtres */
    #filtre--titre {
        width: 100%;
        padding: 5px 0px 15px 10px;
    }

    #filtre--container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .filtre { padding-bottom: 15px; }

    .filtre p {
        margin-left: 10px;
        padding-right: 17px;
    }

    /* Contenu principal */

    #hebergement_populaires--container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    /* Section "hébergements" */
    #section--hebergements {
        padding: 20px;
        background-color: #fff;
    }

    .carte--container { gap: 15px; }

    .carte--container .carte { width: 320px; }

    .carte--container .carte img { width: 100%; }

    .carte--legende_photo { height: 70px; }

    /* Section "populaires" */
    #section--populaires {
        margin: 0;
        border-radius: 0;
        padding: 15px 20px 20px;
        width: 100%;
        min-width: 200px;
    }

    #section--populaires_titre { justify-content: space-around; }

    #section--populaires_titre h2 { padding-bottom: 15px; }

    .carte--container_populaires {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }

    /* Section "Activités" */

    #section--activités { margin-top: 0; }

    #titre--activités { padding: 25px; }

    #activités--container {
        display: flex;
        height: fit-content; height: -moz-fit-content;
        padding: 5px 0px;
        flex-direction: column; flex-wrap: wrap;
        align-items: center;
        row-gap: 25px;
    }

    .activités--carte {
        width: 325px; max-width: 325px;
        height: 185px; max-height: 185px;
    }

    /* Spécificité plus importante dans la partie desktop, ajout de "!important" en conséquence  */
    .activités--carte img { height: 70% !important; }


    /* Footer */
    footer {
        flex-direction: column;
        padding: 20px 0px;
    }

    .footer--box {
        padding: 15px 25px 10px;
        margin: 0;
    }

    .footer--title {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 850px) {
    #activités--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer { flex-direction: row; }

    #hebergements_populaires--container {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 900px) {
    #main_wrapper { margin: 0 3.5%; }
}


